.corpo{
    background-color: rgba(8, 245, 206, 0.884);
    color: rgb(0, 20, 0);
    text-align: center;
    border: 10px;
    border-style: groove;
    border-color: rgb(2, 1, 22);
}

p{
    color: rgba(241, 39, 13, 0.986);
    font-size: 20px;
}

#imagem-estudante{
    border: dashed 10px white;
    width: 500px;
    height: 300px;
}

#link{
color: rgb(1, 19, 19);
text-decoration: none;
}

#link:hover{
    color: rgb(9, 31, 233);
    font-size: 15px;
    }












    