.corpo{
    background-color: rgba(8, 245, 206, 0.884);
    color: rgb(0, 20, 0);
    text-align: center;
    border: 10px;
    border-style: groove;
    border-color: rgb(23, 9, 224);
}

p{
    color: rgba(221, 70, 10, 0.986);
    font-size: 20px;
}

#link{
color: rgb(25, 245, 245);
text-decoration: none;
}

#link:hover{
    color: rgb(245, 8, 40);
    font-size: 15px;
    }